div{
	border: 2px solid #4D0084;
	background-color:#65FEFE ;
	position: absolute;
	width: 90px;
}
.d1{
	left: 10px;
}

#d1{

	left: 120px;
}
.d2{

	left: 230px;
}
#d2{

	left: 340px;
}
.d3{

	left: 450px;
}
